# roles/dns_config/templates/dns.conf.j2

[main]
dns=none

[resolve]
{% for server in dns_servers %}
DNS={{ server }}
{% endfor %}

{% for entry in dns_entries %}
LLMNR=false
MulticastDNS=false
DNSStubListener=no
FallbackDNS={{ entry.address }}
{% endfor %}