# roles/dns_config/templates/resolv.conf.j2

{% for server in dns_servers %}
nameserver {{ server }}
{% endfor %}

{% for entry in dns_entries %}
host {{ entry.name }} {{ entry.address }}
{% endfor %}