# templates/resolv.conf.j2
{{- if dns_servers is defined and dns_servers | length > 0 -}}
nameserver {{ dns_servers[0] }}
{{- for server in dns_servers[1:] -}}
nameserver {{ server }}
{{- end -}}
{{- else -}}
nameserver 8.8.8.8
{{- endif -}}
